<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Lista de productos</title>
</head>
<body>
<h1>Lista de productos</h1>

<!--  <ul>
<li th:each="pro : ${productos}" th:text="${pro.codigo}"></li>
</ul> -->


<table>
	<tr>
		<th>Código</th>
		<th>Nombre</th>
		<th>Descripción</th>
		<th>Precio</th>
	</tr>
	<tr th:each="pro : ${productos}">
		<td th:text="${pro.codigo}"/>
		<td th:text="${pro.nombre}"/>
		<td th:text="${pro.descripcion}"/>
		<td th:text="${pro.precio}"/>
		<td><a href="">Borrar producto</a></td>
	</tr>
</table>


</body>
</html>